body {
            font-family: sans-serif;
            line-height: 1.6;
        }
 code {
            background-color: #f6f4f4;
            padding: 2px 5px;
            border-radius: 4px;
            font-family: monospace;
        }
 